@font-face {
    font-family: grandhotel-r;
    src: url(../fonts/GrandHotel-Regular.ttf);
}

@font-face {
    font-family: playfair-r;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: opensans-r;
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

ul,
ol {
    list-style: none;
}

body,
input,
button {
    font-family: opensans-r;
}

.bg-dropdown {
    background-color: #DAAC5B;
}

.dropdown1 .dropdown-menu {
    display: none;
}

.dropdown1:hover>.dropdown-menu {
    display: block;
}

#menu .dropdown-item {
    color: #fff
}

#menu .dropdown-item:hover {
    background-color: #fff;
    color: #000000;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    padding: 5px 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #DAAC5B;
}

.navbar-light .nav-text a {
    color: #000000;
}

.navbar-light .nav-text a:hover {
    color: #DAAC5B;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

#banner .carousel-caption {
    text-align: center;
    top: 225px;
    right: 25%;
    left: 25%;
    width: 50%;
}

#banner .carousel-caption h6 {
    font-size: 45px;
    color: #DAAC5B;
    font-family: grandhotel-r;
    text-transform: capitalize;
}

#banner .carousel-caption h1 {
    font-size: 65px;
    text-transform: uppercase;
}

#banner .carousel-caption p {
    font-size: 20px;
}

#banner .carousel-caption a {
    font-size: 16px;
    font-family: playfair-r;
}

#banner .carousel-indicators [data-bs-target] {
    background-color: #DAAC5B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.section-space {
    margin: 100px 0 100px;
}

.sub-image:hover {
    animation: sub-image 1s linear;
}

@keyframes sub-image {

    0%,
    100% {
        transform: rotateZ(0);
    }

    50% {
        transform: rotateZ(30deg);
    }
}

.sub-text h3 {
    font-family: playfair-r;
    font-size: 45px;
    color: #161616;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.sub-text p {
    color: #9B9B9B;
    line-height: 30px;
    margin: 0;
}

.sub-text h6 {
    font-family: playfair-r;
    font-size: 18px;
    color: #DAAC5B;
    margin: 30px 0 40px 0;
}

.sub-text img {
    margin-top: 50px;
}

.banner-2 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.banner-2 h1 {
    font-size: 55px;
    font-family: playfair-r;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.banner-2 h2 {
    font-size: 55px;
    font-family: playfair-r;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.banner-2:nth-child(1) {
    height: 500px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section-title h3 {
    font-size: 45px;
    font-family: playfair-r;
    color: #161616;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.section-title p {
    font-family: opensans-r;
    font-size: 18px;
    color: #9B9B9B;
}

.section-title {
    padding-bottom: 85px;
    padding-right: 0;
    padding-left: 0;
}

.ourteam-img {
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 50%;
}

.ourteam-item {
    position: relative;
    margin-bottom: 30px;
}

.ourteam-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(29, 29, 29, 0.5);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    border-radius: 50%;
}
.ourteam-icon ul {
    padding: 0;
}
.ourteam-icon ul li {
    justify-content: center;
}
.ourteam-icon ul li i {
    font-size: 30px;
    padding: 0 5px;
}

.ourteam-icon {
    margin: 210px 0;
}

.ourteam-item:hover .ourteam-title {
    opacity: 1;
    transition: all .5s ease-in;
}

.ourteam-info h6 {
    font-family: playfair-r;
    font-size: 22px;
    color: #DAAC5B;
    margin: 28px 0 6px;
}

.ourteam-info p {
    font-family: opensans-r;
    color: #9B9B9B;
    margin-bottom: 50px;
}

.banner-3 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.banner-3:nth-child(1) {
    height: 720px;
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section-title2 h3 {
    font-size: 45px;
    font-family: playfair-r;
    color: #fff;
    padding-top: 100px;
    color: #fff;
}

.section-title2 p {
    font-family: opensans-r;
    font-size: 18px;
    color: #fff;
    margin: 20px 0 100px;
}

.cs-com {
    height: 100%;
    width: 100%;
    background-color: #fff;
    margin: 20px 0 20px;
    padding-bottom: 30px;
}

.cs-com i {
    font-size: 45px;
    color: #9B9B9B;
    margin: 10px 0 10px;
}

.cs-com p {
    font-family: opensans-r;
    margin: 22px 0 30px;
    color: #9B9B9B;
}

.cs-com h6 {
    font-size: 18px;
    font-family: playfair-r;
    color: #161616;
}

.cs-com h6 span {
    font-family: opensans-r;
    color: #9B9B9B;
}

.bl-main p {
    color: #9B9B9B;
    margin: 45px 0 15px;
}

.bl-main h5 {
    font-size: 28px;
    font-family: playfair-r;
    color: #161616;
    margin: 0;
}

.bl-main a {
    margin: 35px 0 35px;
}

.bl-main h5:hover {
    color: #DAAC5B;
}

.btn-top {
    width: 40px;
    height: 40px;
    background-color: #DAAC5B;
    display: block;
    text-align: center;
    color: #fff;
    border: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
}

.footer-info p {
    color: #fff;
    padding-top: 20px;
}

.footer-icon {
    margin-top: 20px;
}

.footer-icon ul li {
    margin: 0px 12px 0px 0px;
}

.footer-icon ul li i {
    color: #fff;
    font-size: 32px;
}

.footer-icon ul li i:hover {
    color: #DAAC5B;
}

.information h5,
.contact h5,
.subscribe h5 {
    color: #fff;
    margin: 15px 0 38px 0;
}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li a {
    color: #fff;
    line-height: 26px;
    text-transform: capitalize;
    text-decoration: none;
}

.contact i {
    font-size: 25px;
    color: #fff;
}

.contact p,
.subscribe p {
    color: #fff;
}

.footer ul li a:hover {
    color: #DAAC5B;
}

.contact p:hover,
.subscribe p:hover,
.footer-info p:hover {
    color: #DAAC5B;
}

.line {
    width: 100%;
    height: .5px;
    background-color: #fff;
    margin: 0 auto;
}

.copy {
    font-size: 12px;
    color: #fff;
}

.nav {
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: #000;
}

.img-box {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.gallery-item {
    position: relative;
    margin-bottom: 30px;
}

.opacity {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(29, 29, 29, 0.5);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.gallery-item:hover .opacity {
    opacity: 1;
    transition: all 1s;
}

.opacity a {
    color: #fff;
    font-weight: 500;
    font-size: 55px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    display: inline-block;
}

.text {
    text-align: center;
    margin: 45px 0 30px;
}

.text a {
    text-transform: capitalize;
    color: #161616;
    font-family: playfair-r;
    font-family: 24px;
    text-decoration: none;
    display: inline-block;
}

.text p {
    font-size: 18px;
    color: #9B9B9B;
    margin-top: 3px;
}

.ab-section {
    margin-bottom: 40px;
}

.sub-text1 h3 {
    font-family: playfair-r;
    font-size: 45px;
    color: #161616;
    margin-bottom: 45px;
}

.sub-text1 p {
    color: #9B9B9B;
    line-height: 30px;
    margin: 0;
}

.sub-text1 img {
    margin-top: 50px;
}

.team-space {
    padding-bottom: 70px;
}

.ourteam {
    position: relative;
    padding-top: 240px;
    overflow: hidden;
}

.team-inner-page::before {
    content: url(../images/team.jpg);
    position: absolute;
    top: -100px;
    left: -200px;
}

.text-menu h5 {
    font-size: 24px;
    font-family: playfair-r;
}

.text-menu p {
    font-size: 20px;
}

.text-menu span {
    font-size: 18px;
    color: #9B9B9B;
}

.menu-line {
    width: 100%;
    height: .5px;
    background-color: #9B9B9B;
    margin: 15px auto;
}

.shop-search input
{
    height: 45px;
    border: 1px solid rgba(0,0,0,.3);
    padding-left: 16px;
    border-right: none;
}
.shop-search button
{
    border: none;
    height: 45px;
    font-size: 13px;
    color: #9B9B9B;
}
.shop-search h3 {
    font-family: playfair-r;
    font-size: 28px;
    color: #161616;
    text-transform: capitalize;
    margin: 50px 0;
}
.shop-search ul li a {
    text-decoration: none;
    display: inline-block;
    color: #9B9B9B;
    margin-bottom: 20px;
}
.shop-search ul {
    padding: 0;
}
.shop-search p {
    color: #161616;
    margin-top: 8px;
}
.shop {
    background: #fff;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

.shop-info {
    color: #161616;
    padding: 10px 20px 20px;
}
.shop-info h3 {
    font-size: 1.8em;
    font-weight: 500;
    font-family: playfair-r;
}
.shop-info p {
    font-size: 1em;
    margin-bottom: 5px;
}
.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}
.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}
.pagination li a {
    color: #161616;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 20px;
}
.previous-page, .next-page {
    background: #DAAC5B;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}
.previous-page:hover {
    transform: translateX(-5px);
}
.next-page:hover {
    transform: translateX(5px);
}

.subbanner {
    position: relative;
    overflow: hidden;
    height: 452px;
}

.subbanner img {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
}

.subbanner:hover img {
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}

.text-blog p {
    color: #9B9B9B;
    line-height: 30px;
}

.text-blog h3 {
    font-family: playfair-r;
    color: #161616;
    margin-bottom: 50px;
}


.res-form input[type=text],
.res-form input[type=password],
.res-form input[type=date],
.res-form textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.res-form textarea {
    width: 100%;
    height: 280px;
}

.section-title h5 {
    font-size: 35px;
    font-family: playfair-r;
    color: #161616;
    margin: 40px 0;
}

.section-title a {
    font-size: 18px;
    color: #161616;
}
.store-text h5 {
    font-size: 22px;
    font-family: playfair-r;
    color: #161616;
}














@media screen and (max-width:1399px) {
    #banner .carousel-caption h6 {
        font-size: 40px;
    }

    #banner .carousel-caption h1 {
        font-size: 55px;
    }

    #banner .carousel-caption p {
        font-size: 18px;
    }

    .ourteam-icon {
        margin: 170px 0;
        padding-left: 30px;
    }

    .text-blog h3 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:1199px) {
    #banner .carousel-caption {
        top: 175px;
    }

    #banner .carousel-caption h6 {
        font-size: 30px;
    }

    #banner .carousel-caption h1 {
        font-size: 45px;
    }

    #banner .carousel-caption p {
        font-size: 15px;
    }

    .sub-text h3 {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .sub-text h6 {
        margin: 5px 0 20px 0;
    }

    .sub-text img {
        margin-top: 20px;
    }

    .ourteam-icon {
        margin: 140px 0;
        padding-left: 40px;
    }

    .sub-text1 h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .text-menu h5 {
        font-size: 20px;
        font-family: playfair-r;
    }

    .text-menu p {
        font-size: 16px;
    }

    .text-menu span {
        font-size: 14px;
        color: #9B9B9B;
    }

    .text-blog p {
        margin: 0 0 5px 0;
        line-height: normal;
    }

    .text-blog h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .subbanner {
        height: 328px;
    }

}

@media screen and (max-width:992px) {
    #banner .carousel-caption {
        top: 125px;
    }

    #banner .carousel-caption h6 {
        font-size: 20px;
    }

    #banner .carousel-caption h1 {
        font-size: 32px;
    }

    #banner .carousel-caption p {
        font-size: 12px;
    }

    #banner .carousel-caption a {
        font-size: 12px;
    }

    .section2 {
        margin-top: 100px;
    }

    .sub-text h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .sub-text h6 {
        margin: 5px 0 20px 0;
        font-size: 16px;
    }

    .sub-text img {
        margin-top: 0;
    }

    .banner-2 h1 {
        font-size: 45px;
    }

    .banner-2 h2 {
        font-size: 45px;
    }

    .ourteam-icon {
        margin-top: 100px;
        padding-left: 25px;
    }

    .ourteam-icon ul li i {
        font-size: 20px;
        padding: 0 5px;
        text-align: center;
    }

    .text-blog p {
        margin: 0 0 10px 0;
        line-height: normal;
    }

    .text-blog h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .store-text p {
        font-size: 14px;
    }
    .reg-text {
        font-size: 14px;
    }
    .recommendation {
        display: none;
    }
    .shop-info h3 {
        font-size: 25px;
    }
    
}

@media screen and (max-width:766px) {
    #banner {
        display: none;
    }

    .section2 {
        margin-top: 50px;
    }

    .sub-text h6 {
        font-size: 16px;
    }

    .sub-text img {
        margin-top: 0;
    }

    .ourteam-icon {
        margin-top: 170px;
        padding-left: 40px;
    }


    .ourteam-icon ul li i {
        font-size: 35px;
        padding: 0 5px;
        text-align: center;
    }

    .subbanner {
        height: 263px;
    }
    .reg-text {
        font-size: 12px;
    }
}